[mysqld]
log-bin=mysql-bin
gtid_mode=ON
enforce-gtid-consistency=true
binlog_format=Row

skip-host-cache
skip-name-resolve

port=3305

auto_increment_increment=1
auto_increment_offset=1
back_log=690
character_set_server=utf8
concurrent_insert=AUTO
connect_timeout=10
default_week_format=0
div_precision_increment=4
event_scheduler=OFF
group_concat_max_len=1024
innodb_adaptive_hash_index=ON
innodb_autoinc_lock_mode=1
innodb_concurrency_tickets=5000
innodb_flush_log_at_trx_commit=2
innodb_ft_max_token_size=84
innodb_ft_min_token_size=3
innodb_large_prefix=ON
innodb_lock_wait_timeout=7200
innodb_max_dirty_pages_pct=75.000000
innodb_old_blocks_pct=37
innodb_old_blocks_time=1000
innodb_open_files=1024
innodb_print_all_deadlocks=OFF
innodb_purge_batch_size=300
innodb_purge_threads=1
innodb_read_ahead_threshold=56
innodb_read_io_threads=12
innodb_rollback_on_timeout=OFF
innodb_stats_on_metadata=OFF
innodb_table_locks=ON
innodb_thread_concurrency=0
innodb_thread_sleep_delay=10000
innodb_write_io_threads=12
interactive_timeout=3600
lock_wait_timeout=31536000
low_priority_updates=OFF
lower_case_table_names=1
max_allowed_packet=1073741824
max_connect_errors=999999999
max_connections=3200
max_length_for_sort_data=1024
max_prepared_stmt_count=16382
max_user_connections=0
net_read_timeout=30
net_retry_count=10
net_write_timeout=60
open_files_limit=102400
query_alloc_block_size=8192
query_cache_limit=1048576
query_cache_size=0
query_cache_type=OFF
query_prealloc_size=8192
slow_launch_time=2
sync_binlog=1
table_definition_cache=768
table_open_cache=512
tmp_table_size=1073741824
wait_timeout=3600

sql_mode=STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
innodb_strict_mode=OFF
log_bin_trust_function_creators=ON
transaction-isolation = READ-COMMITTED
innodb_use_native_aio=0

slow_query_log=ON
slow_query_log_file= slow.log
long_query_time = 0.5
log_queries_not_using_indexes=OFF
log-timestamps=SYSTEM

datadir=/var/lib/mysql/
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
lower-case-table-names=1
log_slave_updates=1
binlog_rows_query_log_events=1
slave-skip-errors=all
character-set-server=utf8
collation-server=utf8_general_ci
max_connections=10000
max-allowed-packet=1073741824
user=root
relay_log=mysql-relay-bin
